#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}

body {
    font-family: sans-serif;
}

.panel {
    border-radius: 12px;
    background: rgba(49, 41, 182, 0.85);
    background: linear-gradient(0deg, rgba(49, 41, 182, 0.5) 0%, rgba(0, 212, 255, 0.35) 100%);
    backdrop-filter: blur(12px);

    min-height: 440px;
    min-width: 240px;
    width: 30vw;
    height: 40vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    z-index: 1000;
}

.logo {
    min-width: 200px;
    width: 12vw;
    height: auto;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
}

.content {
    position: relative;
    top: 17%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.content > h1 {
    font-weight: bolder;
}

.content > p {
    font-size: 1.25rem;
}